@import "../../../styles/typography/typography";
@import "../../../styles/color/color";
@import "../../../styles/button/button";

.aboutLoopVillage-heading {
    @include text-72-700;
    text-align: center;
    color: $Highlighter3;
    margin-top: 35px;
    margin-bottom: 100px;
    @media screen and (max-width: 1024px) {
        margin-top: 20px;
        margin-bottom: 80px;
        font-size: 60px;
        line-height: 70px;
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 25px;
    }
    @media only screen and (max-width: 576px) {
        font-size: 32px;
        line-height: 48px;
    }
}

.aboutLoopVillage {
    @media screen and (max-width: 768px) {
        > div {
            &:nth-child(5),
            &:last-child {
                > div {
                    &:first-child {
                        order: 2;
                    }
                }
            }
        }
    }

    .aboutLoopVillage-image-content-holder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        margin-bottom: 100px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 50px;
        }
        @media only screen and (max-width: 768px) {
            gap: 20px;
        }
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            margin-bottom: 50px;
        }
        @media only screen and (max-width: 768px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        @media only screen and (max-width: 576px) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .aboutLoopVillage-image {
            width: 100%;
            @include flex(center, center);
            > div {
                width: 100%;
                // aspect-ratio: 8/10;
                position: relative;
                > span {
                    position: unset !important;
                    img {
                        position: unset !important;
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }
            @media only screen and (max-width: 1024px) {
                width: 100%;
            }
            @media only screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
        .aboutLoopVillage-content {
            padding: 20px 0;
            width: 100%;
            @media only screen and (max-width: 1024px) {
                width: 100%;
                padding: 0;
            }
            .aboutLoopVillage-title {
                @include text-48-500;
                color: $Highlighter3;
                margin-bottom: 40px;
                span {
                    color: $Primary;
                }
                @media only screen and (max-width: 768px) {
                    font-size: 38px;
                    line-height: 60px;
                    margin-bottom: 20px;
                }
                @media only screen and (max-width: 576px) {
                    font-size: 32px;
                    line-height: 48px;
                    margin-top: -10px;
                }
            }
            .aboutLoopVillage-para {
                @include font(24px, 400, 45px);
                color: $Highlighter3;
                span {
                    color: $Primary;
                    text-decoration: underline;
                }
                abbr {
                    color: $Primary;
                }
                @media only screen and (max-width: 768px) {
                    font-size: 20px;
                    line-height: 40px;
                    margin-bottom: 20px;
                }
            }
            button {
                @include text-18-600;
                border-radius: 30px;
                border: 1px solid $Primary;
                background-color: $Primary;
                color: $White;
                width: 300px;
                margin: 50px 0 0;
                align-self: flex-start;
                padding: 10px 50px;
                transition: all 0.3s;
                &:disabled {
                    background-color: $Gray;
                }

                &:hover {
                    background-color: $White;
                    color: $Primary;
                    transition: all 0.3s;
                }
                @media only screen and (max-width: 768px) {
                    width: 280px;
                    padding: 11px 30px;
                    margin: 30px auto;
                }
                @media only screen and (max-width: 576px) {
                    width: 100%;
                    margin-bottom: 50px;
                }
            }
        }

        .aboutLoopVillage-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .aboutLoopVillage-thought {
        padding: 100px 85px;
        margin-bottom: 100px;
        background: $WhiteSmoke;
        border: 1px solid $Borders;
        border-radius: 12px;
        @media only screen and (max-width: 1600px) {
            margin-bottom: 100px;
            padding: 50px;
        }
        @media only screen and (max-width: 1024px) {
            margin-bottom: 50px;
            padding: 20px;
        }
        @media only screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
        .aboutLoopVillage-para {
            @include text-48-500;
            font-style: italic;
            text-align: center;
            margin-bottom: 32px;
            color: $Highlighter3;
            @media only screen and (max-width: 768px) {
                font-size: 38px;
                line-height: 60px;
            }
            @media only screen and (max-width: 576px) {
                font-size: 30px;
                line-height: 40px;
            }
        }
        .aboutLoopVillage-writer {
            @include text-32-700;
            text-align: center;
            color: $Highlighter3;
            @media only screen and (max-width: 576px) {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
}

/// about loop village skeleteon scss code.

.aboutLoopVillage-heading-skeleton {
    line-height: 118px;
    width: 60%;
    margin: 35px auto 100px auto;
    @media screen and (max-width: 1024px) {
        margin-top: 20px;
        margin-bottom: 80px;
        font-size: 60px;
        line-height: 80px;
        width: 70%;
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 25px;
        width: 90%;
    }
    @media only screen and (max-width: 576px) {
        font-size: 32px;
        line-height: 58px;
        width: 90%;
    }
}

.aboutLoopVillage-skeleton {
    .aboutLoopVillage-thought-skeleton {
        margin-bottom: 100px;
        border-radius: 12px;
        width: 100%;
        height: 400px;
        @media only screen and (max-width: 1600px) {
            margin-bottom: 100px;
        }
        @media only screen and (max-width: 1024px) {
            margin-bottom: 50px;
        }
        @media only screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    .aboutLoopVillage-image-content-holder-skeleton {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        margin-bottom: 100px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 50px;
        }
        @media only screen and (max-width: 768px) {
            gap: 20px;
        }
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            margin-bottom: 50px;
        }
        @media only screen and (max-width: 768px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        @media only screen and (max-width: 576px) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .aboutLoopVillage-image-skeleton {
            width: 100%;
            aspect-ratio: 8/8;
            @include flex(center, center);
            @media only screen and (max-width: 1024px) {
                width: 100%;
            }
            @media only screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
        .aboutLoopVillage-content-skeleton {
            width: 100%;
            @media only screen and (max-width: 1024px) {
                width: 100%;
            }
            .aboutLoopVillage-title-skeleton {
                line-height: 92px;
                margin-bottom: 40px;
                @media only screen and (max-width: 768px) {
                    line-height: 80px;
                    margin-bottom: 20px;
                }
                @media only screen and (max-width: 576px) {
                    line-height: 68px;
                    margin-top: -10px;
                }
            }
            .aboutLoopVillage-para-skeleton {
                line-height: 45px;
                @media only screen and (max-width: 768px) {
                    line-height: 40px;
                    margin-bottom: 20px;
                }
            }
            .aboutLoopVillage-browse-events-skeleton {
                width: 300px;
                margin: 50px 0 0;
                align-self: flex-start;
                @media only screen and (max-width: 768px) {
                    width: 280px;
                    margin: 30px auto;
                }
                @media only screen and (max-width: 576px) {
                    width: 100%;
                    margin-bottom: 50px;
                }
            }
        }
        .aboutLoopVillage-center-skeleton {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
