@import "../../../styles/typography/typography";
@import "../../../styles/color/color";
@import "../../../styles/button/button";
@import "../../../styles/form/form";

.thankyou {
    @include flex(flex-start, center);
    height: 100vh;
    padding: 16px;
    overflow-y: auto;
    .thankyou-pop-up {
        margin: auto;
        @include content-center(column);
        @include form-global(750px, 550px);
        background: $White;
        @media only screen and (max-width: 768px) {
            padding: 16px;
        }
        .thankyou-heading {
            @include text-48-500;
            text-align: center;
            margin-top: 32px;
            margin-bottom: 24px;
            color: $Highlighter3;
            @media screen and (max-width: 576px) {
                font-size: 24px;
                line-height: 36px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        .thankyou-para {
            @include text-24-600;
            text-align: center;
            margin-bottom: 48px;
            color: $Highlighter3;
            span {
                color: $Primary;
            }
            @media screen and (max-width: 576px) {
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 20px;
            }
        }
        .thankyou-btn {
            @include btn-solid(fit-content, $Highlighter3);
            padding: 10px 16px;
            @include text-20-700;
            @media screen and (max-width: 576px) {
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 20px;
            }
        }
    }
}
