@import "../../../styles/typography/typography";
@import "../../../styles/color/color";
@import "../../../styles/button/button";
@import "../../../styles/form/form";

.trialPeriod {
    @include flex(flex-start, center);
    height: 100vh;
    padding: 16px;
    overflow-y: auto;
    .trialPeriod-pop-up {
        // @include content-center(column);
        @include form-global(700px, 600px, 30px);
        margin: auto;
        background: $White;
        @media only screen and (max-width: 768px) {
            padding: 16px;
        }
        .trialPeriod-heading {
            @include font(40px, 600, 50px);
            color: $Highlighter3;
            @media screen and (max-width: 576px) {
                font-size: 24px;
                line-height: 36px;
            }
        }
        .trialPeriod-note {
            @include form-label;
            .trailPeriod-line {
                margin: auto 10px;
                width: 1px;
                height: 20px;
                display: inline-block;
                background-color: $Primary;
            }
        }
        .trialPeriod-note2 {
            @include form-label;
            display: flex;
            align-items: center;
            .trailPeriod-line {
                margin: auto 10px;
                width: 1px;
                height: 20px;
                display: inline-block;
                background-color: $Primary;
                @media screen and (max-width: 1024px) {
                    display: none;
                }
            }
            @media screen and (max-width: 1024px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
        .trailPeriod-btn-holders {
            button {
                @include btn-solid(280px, $Primary);
                @include font(20px, 600, 28px);
                padding: 15px 20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
