@import "../../../styles/typography/typography";
@import "../../../styles/color/color";
@import "../../../styles/button/button";

.change-password {
    @include flex(center, center);
    flex-direction: column;
    > div {
        width: 550px;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .change-password-btn-change {
        @include font(24px, 500, 36px);
        @include btn-solid(fit-content, $Highlighter3);
        padding: 10px 50px;
        margin-top: 20px;
        margin-bottom: 12px;

        @media screen and (max-width: 576px) {
            width: 100%;
            padding: 10px 20px;
            @include text-18-500;
        }
    }
    .change-password-container {
        width: 100%;
    }
}

.changePassword-skeleton {
    @include flex(center, center);
    flex-direction: column;
    > div {
        width: 550px;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .changepassword-button {
        width: 250px;
        margin-top: 20px;
        margin-bottom: 12px;
        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }
}
