@import "../../../styles/typography/typography";
@import "../../../styles/color/color";
@import "../../../styles/button/button";

.purchase {
    margin-bottom: 20px;
    .purchase-heading {
        @include text-48-500;
        margin-bottom: 48px;
        @media only screen and (max-width: 768px) {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 20px;
        }
    }
    .purchase-card-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        .purchase-card {
            border: 1px solid $Borders;
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.04);
            padding: 30px;
            border-radius: 15px;
            position: relative;
            display: flex;
            flex-direction: column;
            .purchase-card-tag {
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px 32px;
                background-color: $Primary;
                color: $White;
                @include text-32-700;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 15px;
                @media only screen and (min-width: 1024px) {
                    font-size: 24px;
                    line-height: 34px;
                    padding: 2px 22px;
                }
                @media only screen and (max-width: 768px) {
                    font-size: 18px;
                    line-height: 28px;
                    padding: 2px 22px;
                }
            }
            .purchase-card-title {
                @include text-32-500;
                color: $Primary;
                margin-top: 10px;
                margin-bottom: 10px;
                @media only screen and (max-width: 768px) {
                    margin-top: 15px;
                    line-height: 42px;
                }
                @media only screen and (max-width: 576px) {
                    @include text-18-500;
                    margin-bottom: 0;
                }
            }
            .purchase-card-para {
                @include text-24-600;
                color: $Highlighter3;
                margin-bottom: 10px;
                flex: 1;
                @media only screen and (max-width: 768px) {
                    line-height: 30px;
                    font-weight: 500;
                    margin-bottom: 25px;
                    margin-top: 25px;
                }
                @media only screen and (max-width: 576px) {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 12px;
                    margin-top: 12px;
                }
            }
            .purchase-card-price {
                @include text-48-700;
                color: $Highlighter3;
                .purchase-card-time {
                    @include text-32-500;
                    @media only screen and (max-width: 1400px) {
                        font-size: 24px;
                        line-height: 34px;
                    }
                }
                @media only screen and (max-width: 1400px) {
                    font-size: 32px;
                    line-height: 50px;
                }
            }
            .purchase-card-message {
                color: $Primary;
                @include text-20-700;
            }
            .purchase-card-btn {
                display: block;
                margin-top: 10px;
                button {
                    @include btn-solid(200px, $Highlighter3);
                    padding: 10px 40px;
                    @include text-18-600;
                    @media only screen and (max-width: 576px) {
                        @include btn-solid(100%, $Highlighter3);
                    }
                }
            }
            @media only screen and (max-width: 1024px) {
                padding: 20px;
            }
        }
        @media only screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
        }
    }
    @media screen and (max-width: 576px) {
        margin-bottom: 0px;
    }
}

.Purchase-membership-skeleton {
    margin-bottom: 20px;
    @media screen and (max-width: 576px) {
        margin-bottom: 0px;
    }
    .purchase-card-holder-skeleton {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        @media only screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
        }

        .purchase-card-skeleton {
            border: 1px solid $Borders;
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.04);
            padding: 30px;
            border-radius: 15px;
            @media only screen and (max-width: 1024px) {
                padding: 20px;
            }
            .purchase-card-btn {
                display: block;
                margin-top: 10px;
                width: 200px;
                @media only screen and (max-width: 576px) {
                    width: 100%;
                }
            }
        }
    }
}
