@import "../../../styles/typography/typography";
@import "../../../styles/color/color";
@import "../../../styles/button/button";

.community-card {
    width: 100%;
    border-radius: 10px;
    background-color: $WhiteSmoke;
    .community-image {
        width: 100%;
        height: 250px;
        position: relative;
        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            z-index: 1;
        }
        .community-tag {
            position: absolute;
            z-index: 2;
            @include tag;
            background-color: $White;
            border-radius: 20px;
            color: $Highlighter3;
            top: 20px;
            right: 30px;
        }
    }
    .community-content {
        padding: 10px;
        .community-title {
            font-size: 1.2rem;
        }
    }
}
.community-holder {
    @include grid(repeat(3, 1fr), repeat(2, 1fr), 1fr, 20px);
}
