.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.posts .post-creator {
  border: 1px solid rgba(34, 34, 34, 0.2);
  border-radius: 8px;
  margin: 20px auto;
  width: 600px;
  font-size: 0.8;
}
.posts .post-creator .post-creator-title-avatar-holder {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.posts .post-creator .post-creator-title-avatar-holder .post-creator-input {
  margin-left: 10px;
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}
.posts .post-creator .post-creator-icons-button-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
}
.posts .post-creator .post-creator-icons-button-holder .post-creator-icons span {
  margin-right: 10px;
  padding: 10px 10px;
  border-radius: 20px;
}
.posts .post-creator .post-creator-icons-button-holder .post-creator-icons span:first-child {
  background-color: rgb(221, 248, 248);
}
.posts .post-creator .post-creator-icons-button-holder .post-creator-button {
  padding: 10px 16px;
  border-radius: 30px;
  background-color: black;
  color: #ffffff;
  width: 80px;
  border: 1px solid black;
  transition: all 0.3s ease;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}
.posts .post-creator .post-creator-icons-button-holder .post-creator-button:disabled {
  background-color: rgba(34, 34, 34, 0.5);
  border: 0px;
  pointer-events: none;
}
.posts .post-creator .post-creator-icons-button-holder .post-creator-button:hover {
  background-color: #ffffff;
  color: black;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .posts .post-creator {
    width: 95%;
  }
}
@media only screen and (max-width: 768px) {
  .posts .posts-loader {
    width: 95%;
  }
}

.post-card {
  border: 1px solid rgba(34, 34, 34, 0.2);
  border-radius: 8px;
  margin: 20px auto;
  width: 600px;
  font-size: 0.8rem;
}
.post-card .post-card-title-avatar-holder {
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.post-card .post-card-title-avatar-holder .post-card-title {
  margin-left: 10px;
  line-height: 0.5;
}
.post-card .post-card-title-avatar-holder .post-card-title span {
  color: rgba(34, 34, 34, 0.5);
}
.post-card .post-card-title-avatar-holder .post-card-icon {
  margin-left: auto;
}
.post-card .post-card-para {
  padding-left: 15px;
}
.post-card .post-card-likes-icons {
  padding: 15px 15px;
  color: rgba(34, 34, 34, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-card .post-card-likes-icons .post-card-icons {
  display: flex;
  align-items: center;
}
.post-card .post-card-likes-icons .post-card-icons span {
  background-color: whitesmoke;
  margin-right: 10px;
  padding: 10px 10px;
  border-radius: 20px;
}
.post-card .post-card-input-avatar-holder {
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 5px;
  align-items: center;
}
.post-card .post-card-input-avatar-holder input {
  flex: 1;
  height: 100%;
  margin: auto 10px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}
@media only screen and (max-width: 576px) {
  .post-card .post-card-input-avatar-holder input {
    width: 112px;
    font-size: 15px;
  }
}
.post-card .post-card-input-avatar-holder span {
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .post-card {
    width: 95%;
  }
}/*# sourceMappingURL=posts.module.css.map */