@import "../../styles/typography/typography";
@import "../../styles/color/color";
@import "../../styles/button/button";
@import "../../styles/form/form";

.inputField {
    padding-bottom: 12px;
    label {
        @include form-label;
    }
    input {
        @include form-input;
    }
    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }
    .error {
        @include form-error;
    }
    .inputField-group {
        position: relative;
        input {
            padding-right: 50px;
        }
    }
    .inputField-eyeIcon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;
            path {
                fill: $Highlighter3;
            }
        }
    }
}
