.buddy-detail .buddy-detail-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: #142c60;
  margin-bottom: 35px;
  margin-top: 35px;
}
@media only screen and (max-width: 576px) {
  .buddy-detail .buddy-detail-heading {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
.buddy-detail .buddy-detail-img-content-holder {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 30px;
}
@media only screen and (max-width: 1024px) {
  .buddy-detail .buddy-detail-img-content-holder {
    grid-template-columns: 30% 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .buddy-detail .buddy-detail-img-content-holder {
    grid-template-columns: 1fr;
  }
}
.buddy-detail .buddy-detail-img-content-holder .buddy-detail-img {
  width: 100%;
  aspect-ratio: 10/10;
  position: relative;
}
.buddy-detail .buddy-detail-img-content-holder .buddy-detail-img img {
  border-radius: 15px;
}
.buddy-detail .buddy-detail-img-content-holder .buddy-detail-content .buddy-detail-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #444444;
  margin-bottom: 12px;
  margin-top: 12px;
}
.buddy-detail .buddy-detail-img-content-holder .buddy-detail-content .buddy-detail-para {
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  color: #444444;
  margin-bottom: 32px;
}
@media only screen and (max-width: 576px) {
  .buddy-detail .buddy-detail-img-content-holder .buddy-detail-content .buddy-detail-para {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}
.buddy-detail .buddy-detail-contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 80px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.buddy-detail .buddy-detail-contact-box .buddy-detail-contact-info {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: #142c60;
  margin-bottom: 40px;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .buddy-detail .buddy-detail-contact-box .buddy-detail-contact-info {
    font-size: 20px;
    line-height: 30px;
  }
}
.buddy-detail .buddy-detail-contact-box .buddy-detail-contact-btn {
  border-radius: 30px;
  background-color: #142c60;
  color: #ffffff;
  width: 400px;
  border: 1px solid #142c60;
  transition: all 0.3s ease;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: underline;
}
.buddy-detail .buddy-detail-contact-box .buddy-detail-contact-btn:disabled {
  background-color: rgba(34, 34, 34, 0.5);
  border: 0px;
  pointer-events: none;
}
.buddy-detail .buddy-detail-contact-box .buddy-detail-contact-btn:hover {
  background-color: #ffffff;
  color: #142c60;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 576px) {
  .buddy-detail .buddy-detail-contact-box .buddy-detail-contact-btn {
    border-radius: 30px;
    background-color: #142c60;
    color: #ffffff;
    width: 100%;
    border: 1px solid #142c60;
    transition: all 0.3s ease;
  }
  .buddy-detail .buddy-detail-contact-box .buddy-detail-contact-btn:disabled {
    background-color: rgba(34, 34, 34, 0.5);
    border: 0px;
    pointer-events: none;
  }
  .buddy-detail .buddy-detail-contact-box .buddy-detail-contact-btn:hover {
    background-color: #ffffff;
    color: #142c60;
    transition: all 0.3s ease;
  }
}
@media only screen and (max-width: 768px) {
  .buddy-detail .buddy-detail-contact-box {
    padding: 20px;
  }
}/*# sourceMappingURL=buddyDetail.module.css.map */