.event-review-holder .event-review-rating {
  font-size: 72px;
  font-weight: 700;
  line-height: 108px;
}
@media only screen and (max-width: 576px) {
  .event-review-holder .event-review-rating {
    font-size: 64px;
    line-height: 95px;
  }
}
.event-review-holder .event-review-count-star-holder {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.event-review-holder .event-review-count-star-holder .event-review-count {
  margin-left: 20px;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
@media only screen and (max-width: 576px) {
  .event-review-holder .event-review-count-star-holder .event-review-count {
    font-size: 18px;
  }
}
.event-review-holder .event-reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin-top: 40px;
}
@media only screen and (max-width: 1024px) {
  .event-review-holder .event-reviews {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .event-review-holder .event-reviews {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1024px) {
  .event-review-holder .event-reviews {
    grid-gap: 20px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .event-review-holder .event-reviews {
    grid-gap: 10px;
    margin-top: 10px;
  }
}
.event-review-holder .event-reviews .event-review {
  padding-top: 10px;
}
.event-review-holder .event-reviews .event-review .event-review-avatar-holder {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin: 5px 5px 5px auto;
}
.event-review-holder .event-reviews .event-review .event-review-avatar-holder .event-review-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #142c60;
}
.event-review-holder .event-reviews .event-review .event-review-avatar-holder .event-review-rating1 {
  padding-left: 5px;
  display: flex;
  margin-left: auto;
}
@media only screen and (max-width: 576px) {
  .event-review-holder .event-reviews .event-review .event-review-avatar-holder .event-review-rating1 {
    display: none;
  }
}
.event-review-holder .event-reviews .event-review .event-review-para {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  padding: 5px;
  color: #444444;
}
.event-review-holder .event-reviews .event-review .event-review-time {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #444444;
}
.event-review-holder .event-reviews .event-review .event-review-rating2 {
  padding-left: 5px;
  display: none;
  margin-left: auto;
}
@media only screen and (max-width: 576px) {
  .event-review-holder .event-reviews .event-review .event-review-rating2 {
    display: flex;
  }
}
@media only screen and (max-width: 1024px) {
  .event-review-holder {
    margin: auto;
  }
}

.event-loadMore-button {
  border-radius: 30px;
  background-color: #142c60;
  color: #ffffff;
  width: 200px;
  border: 1px solid #142c60;
  transition: all 0.3s ease;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 30px;
}
.event-loadMore-button:disabled {
  background-color: rgba(34, 34, 34, 0.5);
  border: 0px;
  pointer-events: none;
}
.event-loadMore-button:hover {
  background-color: #ffffff;
  color: #142c60;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1024px) {
  .event-loadMore-button {
    border-radius: 30px;
    background-color: #142c60;
    color: #ffffff;
    width: 100%;
    border: 1px solid #142c60;
    transition: all 0.3s ease;
  }
  .event-loadMore-button:disabled {
    background-color: rgba(34, 34, 34, 0.5);
    border: 0px;
    pointer-events: none;
  }
  .event-loadMore-button:hover {
    background-color: #ffffff;
    color: #142c60;
    transition: all 0.3s ease;
  }
}/*# sourceMappingURL=eventReviews2.module.css.map */